@charset "UTF-8";
.oculto {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.PanNavColor {
  background-color: rgb(245, 245, 220);
}

.PanTxt {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.PanFontNav {
  text-decoration: none;
  color: rgb(123, 231, 243);
  font-family: "Bebas Neue", sans-serif;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: rgb(68, 88, 100);
  display: flex;
  flex-direction: column;
}

header .cambio:hover {
  background-color: rgba(45, 46, 46, 0.349);
  text-shadow: -1px -1px 0 rgb(123, 231, 243), 1px -1px 0 rgb(123, 231, 243), -1px 1px 0 rgb(123, 231, 243), 1px 1px 0 rgb(123, 231, 243);
  color: black;
  transition: all 0.3s ease-in-out;
}
header .PanFontNavSize {
  font-size: 2.5rem;
}

@keyframes FadeInRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes FadeInLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes FadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.PanMainStyle {
  background-color: rgb(68, 88, 100);
  flex: 1;
  padding-block: 1rem;
}
.PanMainStyle .PanFontTitles {
  font-family: "Bebas Neue", sans-serif;
  color: rgb(100, 185, 195);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-size: 1.9rem;
}

@media (min-width: 768px) and (min-height: 1024px) {
  main {
    padding-block: 4rem;
  }
}
/*Estilos del main Sobre nosotros*/
.PanMainStyle .PanFontSubTitles {
  font-family: "Bebas Neue", sans-serif;
  color: rgb(100, 185, 195);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-size: 1.5rem;
}
.PanMainStyle .PanImgTutoStyle {
  border: 2px solid black;
  border-radius: 30px;
  max-width: 100%;
  max-width: 800px;
}

/*Estilos del main Contacto*/
.PanMainStyle .PanRedes {
  text-decoration: none;
}
.PanMainStyle .PanFontRedes {
  font-size: 50px;
}

.PanMainStyle .PanInstagram {
  opacity: 0;
  animation: FadeInRight 1s ease forwards;
  background-color: rgb(254, 122, 34);
  color: rgb(252, 19, 107);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.PanMainStyle .PanInstagram:hover {
  background-color: rgb(245, 245, 220);
  color: rgb(123, 231, 243);
  transform: scale(1.05);
}
.PanMainStyle .PanFacebook {
  opacity: 0;
  animation: FadeInLeft 1s ease forwards;
  animation-delay: 1s;
  background-color: rgb(47, 116, 248);
  color: rgb(233, 240, 254);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.PanMainStyle .PanFacebook:hover {
  background-color: rgb(245, 245, 220);
  color: rgb(123, 231, 243);
  transform: scale(1.05);
}
.PanMainStyle .PanTikTok {
  opacity: 0;
  animation: FadeInUp 1s ease forwards;
  animation-delay: 2s;
  background-color: black;
  color: rgb(254, 40, 88);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.PanMainStyle .PanTikTok:hover {
  background-color: rgb(245, 245, 220);
  color: rgb(123, 231, 243);
  transform: scale(1.05);
}
.PanMainStyle .PanInstagramBorder {
  border: 5px solid rgb(208, 29, 194);
  border-radius: 20px;
  overflow: hidden;
}
.PanMainStyle .PanFacebookBorder {
  border: 5px solid rgb(2, 23, 93);
  border-radius: 20px;
  overflow: hidden;
}
.PanMainStyle .PanTikTokBorder {
  border: 5px solid rgb(42, 240, 234);
  border-radius: 20px;
  overflow: hidden;
}

/*Estilos del main Profesores e Inicio de sesión*/
.PanMainStyle .PanFontNav:hover {
  text-shadow: -1px -1px 0 rgb(123, 231, 243), 1px -1px 0 rgb(123, 231, 243), -1px 1px 0 rgb(123, 231, 243), 1px 1px 0 rgb(123, 231, 243);
  color: black;
  transition: all 0.3s ease-in-out;
}

footer .PanFontFootSize {
  font-size: 1.2rem;
}
footer .PanFontFootSize:hover {
  text-shadow: -1px -1px 0 rgb(123, 231, 243), 1px -1px 0 rgb(123, 231, 243), -1px 1px 0 rgb(123, 231, 243), 1px 1px 0 rgb(123, 231, 243);
  color: black;
  transition: all 0.3s ease-in-out;
}

.PanButStyle {
  color: rgb(123, 231, 243);
  background-color: rgb(245, 245, 220);
  border-radius: 5px;
  padding: 3px 10px;
}
.PanButStyle:hover {
  color: rgb(245, 245, 220);
  background-color: rgb(123, 231, 243);
}

#gymsearcher {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
#gymsearcher:hover {
  box-shadow: 0 0 5px rgb(68, 88, 100);
  border-color: rgb(245, 245, 220);
}
#gymsearcher:focus {
  outline: none;
  box-shadow: 0 0 30px rgb(123, 231, 243);
  border-color: rgb(68, 88, 100);
}

.PanMapStyle {
  border: 2px solid black;
  border-radius: 30px;
  max-width: 100%;
  max-width: 600px;
}

/*# sourceMappingURL=style.css.map */
