/*reset CSS*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Colores principales*/

:root{
    --color-fondo: rgb(68, 88, 100);
    --color-menu: rgba(123,231,243,1);
    --color-texto: rgb(100, 185, 195);
    --color-texto2: rgb(255, 255, 255);
    --color-encabezado: rgb(245, 245, 220);
}

/*Estilos de index*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }

/*Header*/
.oculto {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.PanNavColor {
    background-color: var(--color-encabezado);
}

.cambio:hover{
    background-color: rgba(45, 46, 46, 0.349);
    text-shadow: 
        -1px -1px 0 var(--color-menu),  
         1px -1px 0 var(--color-menu),
        -1px  1px 0 var(--color-menu),
         1px  1px 0 var(--color-menu);
    color: black;
}

.PanFontNav {
    text-decoration: none;
    color: var(--color-menu);
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.PanFontNavSize {
    font-size: 2.5rem;
}

/*Estilos del Main*/

main {
    flex: 1;
    padding-block: 1rem;
  }
  

.PanMainStyle {
    background-color: var(--color-fondo);
}

.PanTxt{
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: var(--color-texto2);
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.PanFontTitles {
    font-family: "Bebas Neue", sans-serif;
    color: var(--color-texto);
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    font-size: 1.9rem;
}

.PanButStyle{
    color: var(--color-menu);
    background-color: var(--color-encabezado);
    border-radius: 5px;
    padding: 3px 10px;
}

.PanButStyle:hover {
    color: var(--color-encabezado);
    background-color: var(--color-menu);
}

#gymsearcher {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
  }
  
  #gymsearcher:hover {
    box-shadow: 0 0 5px var(--color-fondo);
    border-color: var(--color-encabezado);
  }
  
  #gymsearcher:focus {
    outline: none;
    box-shadow: 0 0 30px var(--color-menu);
    border-color: var(--color-fondo);
  }
  
  .PanMapStyle {
    border: 2px solid black;
    border-radius: 30px;
    max-width: 100%;
    max-width: 600px;
  }

  /*Estilos del Footer*/

    .PanFontFootSize {
        font-size: 1.2rem;
    }
  
    .PanFontFootSize:hover{
        text-shadow: 
        -1px -1px 0 var(--color-menu),  
         1px -1px 0 var(--color-menu),
        -1px  1px 0 var(--color-menu),
         1px  1px 0 var(--color-menu);
        color: black;
    }

    @media (min-width: 768px) and (min-height: 1024px) {
        main{
            padding-block: 4rem;
        }
    }