@use '../Variables/fuentes' as *;
@use '../Variables/colores' as *;
@use '../Animaciones/animaciones' as *;
@use '../Mixin/mixin' as mix;

.PanMainStyle {
  background-color: $color-fondo;
  flex: 1;
  padding-block: 1rem;

  section{

    div {
        .PanPrimerTitulo{
          opacity: 0;
          animation: FadeInRight 2s ease forwards;
          animation-delay: 0.3s;
        }
    }
    div {
        .PanPrimerTXT{
          opacity: 0;
          animation: FadeInRight 2s ease forwards;
          animation-delay: 1.3s;
        }
    }
    .formulario-de-busqueda{
      opacity: 0;
      animation: FadeInRight 2s ease forwards, float 3s ease-in-out infinite;
      animation-delay: 2.3s;
    }
    .PanMapAnimation{
      opacity: 0;
      animation: FadeInRight 2s ease forwards;
      animation-delay: 2.3s;
    }
    div {
      .PanPrimerSubTitulo{
        opacity: 0;
        animation: FadeInRight 2s ease forwards;
        animation-delay: 3.3s;
      }
      .PanSegundoTXT{
        opacity: 0;
        animation: FadeInRight 2s ease forwards;
        animation-delay: 4.3s;
      }
    }
  }


  
  .PanFontTitles {
    font-family: $fuente-texto;
    color: $color-texto;
    @include mix.txt-border;
    font-size: 1.9rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  main{
      padding-block: 4rem;
  }
}

/*Estilos del main Sobre nosotros*/

.PanMainStyle {

  main{
    
    div{
      
      .PanSegundoTitulo{
        opacity: 0;
        animation: FadeInRight 2s ease forwards;
        animation-delay: 2.3s;
      }
      .PanFontSubTitles{
      font-family: $fuente-texto;
      color: $color-texto;
      @include mix.txt-border;
      font-size: 1.5rem;
      }
      .PanImgTutoStyle{
        border: 2px solid black;
        border-radius: 30px;
        max-width: 100%;
        max-width: 800px;
      }
      .PanTercerTXT{
        opacity: 0;
        animation: FadeInRight 1s ease forwards;
        animation-delay: 3.3s;
      }
      .PanSegundoSubTitulo{
        opacity: 0;
        animation: FadeInRight 1s ease forwards;
        animation-delay: 4.3s;
      }
      .PanCuartoTXT{
        opacity: 0;
        animation: FadeInRight 1s ease forwards;
        animation-delay: 5.3s;
      }
      .PanImg-1{
        opacity: 0;
        animation: FadeInLeft 1s ease forwards;
        animation-delay: 6.3s;
      }
      .PanTercerSubTitulo{
        opacity: 0;
        animation: FadeInRight 1s ease forwards;
        animation-delay: 7.3s;
      }
      .PanQuintoTXT{
        opacity: 0;
        animation: FadeInRight 1s ease forwards;
        animation-delay: 8.3s;
      }
      .PanImg-2{
        opacity: 0;
        animation: FadeInLeft 1s ease forwards;
        animation-delay: 9.3s;
      }
      .PanTercerTitulo{
        opacity: 0;
        animation: FadeInRight 1s ease forwards;
        animation-delay: 10.3s;
      }
      .PanSextoTXT{
        opacity: 0;
        animation: FadeInRight 1s ease forwards;
        animation-delay: 11.3s;
      }
    }
  }
}

/*Estilos del main Contacto*/

.PanMainStyle {
  
  .DerForm{
    opacity: 0;
    animation: FadeInLeft 1s ease forwards;
    animation-delay: 3.3s;
  }
  .PanRedes{
    text-decoration: none;
  }
  .PanProfesPointer{
    text-decoration: none;
    color: $color-texto2;
  }
  .PanFontRedes{
    font-size: 50px;
  }
}

.PanMainStyle {

  .PanInstagram{
    opacity: 0;
    animation: FadeInRight 1s ease forwards;
    animation-delay: 5.3s;
    @include mix.button-style (rgba(254,122,34,255), rgba(252,19,107,255));
    

    &:hover {
      @include mix.button-style-change;
    }
  }

  .PanFacebook{
    opacity: 0;
    animation: FadeInLeft 1s ease forwards;
    animation-delay: 5.5s;
    @include mix.button-style (rgba(47,116,248,255), rgba(233,240,254,255));
    
    &:hover {
      @include mix.button-style-change;
    }
  }

  .PanTikTok{
    opacity: 0;
    animation: FadeInUp 1s ease forwards;
    animation-delay: 5.7s;
    @include mix.button-style (black, rgba(254,40,88,255));
    
    &:hover {
      @include mix.button-style-change;
    }
  }

  .PanInstagramBorder {
    @include mix.button-border-style (rgba(208,29,194,255));
  }
  
  .PanFacebookBorder {
    @include mix.button-border-style (rgba(2,23,93,255));
  }
  
  .PanTikTokBorder {
    @include mix.button-border-style (rgba(42,240,234,255));
  }

}

/*Estilos del main Profesores e Inicio de sesión*/

.PanMainStyle{
  .PanFontNav:hover{
    @include mix.nav-text-border;
  }
}