@keyframes FadeInRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0), scale(1.05);
    }
}

@keyframes FadeInLeft {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0), scale(1.05);
    }
}

@keyframes FadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0), scale(1.05);
    }
}

@keyframes FadeInUpFooter {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes FadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes FadeInDownHeader {
    from {
        opacity: 0;
        transform: translateY(-90px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}